#cart {
  position: fixed;
	top: 80px;
	right: 20px;
	padding:10px;
	text-align: :center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  overflow-x: hidden;
  overflow-wrap: scroll;
  width: 22%;
  height: 60%;
  border-radius: 6px;

}

#cart:hover {
  box-shadow: 0 10px 18px 0 rgba(0,0,0,0.5);
}

#placeorder{
  position: fixed;
  top: 423px;
  right: 20px;
  padding:10px;
  text-align: :center;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
  overflow-x: hidden;
  overflow-wrap: scroll;
  width: 22%;
  height: 20%;
  background-color: lightgrey;
 
}